<div class="mx-auto p-0 mt-5 footer shadow-lg">
	<div class="border-primary-2 card p-4 rounded-0 innerFooter shadow-1">
		<p class="mt-2">©2019 Goernation, Inc. All rights reserved.	
	</p>
	
	<div class="socialIconsDiv">
		<a href="#" class="float-right bg-transparent border-0 p-0 socialIconBtn" >
			<img src="assets/images/instagram.png" class="img-fluid socialIcon">
		</a>
		<a href="#"  class="float-right bg-transparent border-0 p-0 socialIconBtn" >
			<img src="assets/images/snapchat.png" class="img-fluid socialIcon">
		</a>
		<a href="#" class="float-right bg-transparent  border-0 p-0 socialIconBtn" >
			<img src="assets/images/facebook.png" class="img-fluid socialIcon">
		</a>
		<a href="#" class="float-right bg-transparent  border-0 p-0 socialIconBtn" >
			<img src="assets/images/twitter.png" class="img-fluid socialIcon">
		</a>
	</div>
	</div>
</div>